.hero-container {
  margin: 0;
}

.hashlink {
  text-decoration: none;
  color: white;
}

.hero-summary {
  background-color: white;
  border-radius: 5px;
  width: 50%;
  position: absolute;
  margin: 4%;
  padding: 2%;
  box-shadow: 0 0 10px 10px rgba(121, 119, 119, 0.07);
}

.hero-summary h2 {
  margin: 2%;
}

.hero-summary h4 {
  margin: 2%;
}

.hero-summary Button {
  border-radius: 20px;
  margin: 0.5%;
  background: linear-gradient(
    90deg,
    rgb(26, 192, 68) 0%,
    rgb(24, 170, 36) 100%
  );
  color: white;
}
