.search-bar,
.search-bar input {
  margin: 2%;
  font-size: medium;
  display: block;
  padding: 16px 24px;
}

.item-card-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-content: center;
}
